
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fredoka:wght@300..700&family=Kaushan+Script&family=Lilita+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sawarabi+Mincho&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    display: flex;
    gap: 10px;
    margin: 10px;
}
.board{
    align-items: center;
    height: 80vh;
    width: 100%; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.board h4{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 100%;
 
}

button{
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    border-radius: 4px;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.board .task{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    background-color:antiquewhite;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.board .task .task-number{
    width: 70px;
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    border: 1px solid;
    border-radius: 32pc;
}

.board .task .task-disc{

    justify-content: center;
    display: flex;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.close {
    color: red;
    font-size: 20px;
    cursor: pointer;
    top: 5px;
    right: 5px;
    position: absolute;
}
.modal.show {
    display: block;
}
.modal.fade-in {
    opacity: 1;
}
.modal-content.show-content {
    transform: scale(1);
    text-align: left;
}

.modal input{
    padding: 10px;
    width: 100%;
}

.modal select{
    padding: 10px;
    width: 100%;
}

.modal p, .modal h4{
    margin: 10px auto;
    display: block;
    text-align: left;
}

#modal-error{
color:red;
font-size: 11px;
}